/*

Create a copy of this file named 'ConnectionCredentials.h'
Insert the correct values for the variables seen below

*/

#include <string>
#include <iostream>
#include <windows.h>
#include <C:/Program Files/MySQL/MySQL Server 8.0/include/mysql.h>

class ConnectionCredentials {
public:
    std::string HOST = "address";
    std::string USER = "user";
    std::string PASSWORD = "passwd";
    std::string DATABASE = "db";
    int PORT = 3306;
};